.tab-header {
  position: relative;
  width: 100%;
  /*height: 200px;*/
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  padding-bottom: 20px;
}

.pr-header {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.pr-header__priority {
  margin-top: 10px;
  font-size: 48px;
}

.pr-header__label {
  font-size: 18px;
  margin: 0;
}

.pr-content {
  font-size: 17px;
  font-weight: 500;
  color: #24AF34;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-flex-shrink: 10;
  -ms-flex: 0 10 auto;
  flex-shrink: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-around;
}

.pr-number {
  font-size: 24px;
}

.pr-text {
  font-size: 17px;
}

.card-news {
  background-color: #FFFDD0;
}

.card-header {
  font-weight: bold;
}

.card-date {
  font-size: 14px;
  font-weight: normal;
}

.card-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;

  background-color: transparent;
  border: 1px solid #24AF34;
  border-radius: 25px;
  color: #24AF34;
  padding: 5px 15px;
}

.theme-green .tabbar a,
.tabbar.theme-green a,
.theme-green .tabbar a i,
.tabbar.theme-green a i {
  color: #24AF34;
}

.theme-green .tabbar a.active,
.tabbar.theme-green a.active,
.theme-green .tabbar a.active i,
.tabbar.theme-green a.active i {
  color: #000000;
}

.list-block .item-title.label {
  width: auto;
}

.list-block .item-input {
  width: auto;
}

.list-block {
  margin: 0;
}

.item-media {
  display: flex;
  flex-direction: column;
}

.passname {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.addr {
  font-weight: bold;
}

.item-fare {
  color: red;
}

.fb-card {
  min-height: 44px;
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.facebook-name {
  margin-left: 10px;
}

.card-popup {
  display: none;
}

.c-popup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  margin-bottom: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 11000;
}

.c-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.c-popup-btn {
  margin-bottom: 10px;
}

.c-popup-header {
  font-weight: normal;
  text-align: center;
}

.c-popup-p {
  text-align: center;
}
